import 'package:flutter/widgets.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:widget_factory/widget_factory.dart';

import '../error_handling/index.dart';
import 'index.dart';
import '${inputName}_screen.dart';

class ${upperName}ScreenFactory implements WidgetFactory {
  @override
  Widget createWidget({dynamic data}) {
    return BlocProvider(
        create: (context) => ${upperName}Bloc(
            errorHandlingBloc: BlocProvider.of<ErrorHandlingBloc>(context),)
          ..add(BlocInit()),
        child: ${upperName}Screen(),);
  }
}
