import 'package:equatable/equatable.dart';

class ${upperName}State extends Equatable {
  ${upperName}State();

  factory ${upperName}State.initial() => ${upperName}State();

  @override
  List<Object> get props => [];
}